<div style="min-height:100vh" class="bg-success text-light text-center p-2 d-flex flex-column">
    <h5 class="mb-5 text-warning border fw-bolder rounded p-4 shadow"><i class="fa-solid fa-graduation-cap">Food-Paradise</i></h5>
    <a routerLink="/admin" class="text-decoration-none text-light fw-bolder mb-4">Dashboard</a>
    <a routerLink="/admin/recipe-list" class="text-decoration-none text-light fw-bolder mb-4">Recipe List</a>
    <a routerLink="/admin/user-list" class="text-decoration-none text-light fw-bolder mb-4">Users List</a>
    <a routerLink="/admin/download-list" class="text-decoration-none text-light fw-bolder mb-4">Download List</a>
    <a routerLink="/admin/request-list" class="text-decoration-none text-light fw-bolder mb-4">Feedback List</a>
</div>