<nav class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
      <a class="navbar-brand text-light fw-bolder fs-4" routerLink="" > <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTktQK6EeJKtOGjW7-CH3uOovlagyFn1hStBA&s" alt="" style="width: 50px;"> Food-Paradise</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/recipies">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/contact">Contact</a>
          </li>
        </ul>
  
        <div class="dropdown" style="margin-right: 75px;">
          <button class="btn btn-light  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user-large"></i>
            <span class="text-dark fw-bolder">Hi </span>
          </button>
      
        <ul class="dropdown-menu" >
          <li><a class="dropdown-item" routerLink="/saved-recipes">Saved-Recipes</a></li>
          <li><button class="dropdown-item">Logout</button></li>
          <li><a class="dropdown-item" routerLink="/login">Login</a></li>
          <li><a class="dropdown-item" routerLink="/register">Register</a></li>
        </ul>
      </div>
      </div>
    </div>
  </nav>
  