<app-header></app-header>

<div class="container">
    <div style="height: 400px;" class="row">
        <div class="col-lg-6 bg-success">
            <img width="100px" src="" alt="">
        </div>
        <div class="col-lg-6">
            <h1>Wellcome to <span class="text-warning">Flavour-Fusion</span></h1>
            <p>Descover 100+ recipies in your hand with the best recipie provider</p>
        </div>
    </div>
<div class="row align-items-center my-5 mt-5">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
        <h1>About Us</h1>
        <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit.  consectetur adipisicing elit. consectetur adipisicing elit.  consectetur adipisicing elit.dipisicing elit. harum sint doloribus dolor vero repellendus, delectus id officiis sit illo quibusdam. Obcaecati dolorum repudiandae atque officia at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat aperiam libero natus minima eaque, et atque recusandae est, commodi labore ipsam officia numquam aspernatur, ducimus soluta officiis doloribus! Optio, laudantium.</p>
        <ul>
            <li>Lorem, ipsum dolor sit amet </li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.  consectetur adipisicing elit.</li>
            <li>Lorem, ipsum dolor sit amet  consectetur adipisicing elit. consectetur adipisicing elit.  consectetur </li>
        </ul>
    </div>
    <div class="col-lg-6 mt-5 image-fluid">
        <img src="https://st5.depositphotos.com/2927609/66830/v/450/depositphotos_668302790-stock-illustration-chef-logo-design-abstract-drawing.jpg" alt="">
    </div>
</div>
</div>