<app-header></app-header>
<!-- <div class="container">
    <div style="height: 350px;" class="bg-success row align-items-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 text-center text-light">
            <h1>Contact Us</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed porro consequuntur error sequi? Corporis fugiat enim, esse laboriosam mollitia quas molestias culpa quisquam fugit repudiandae ab impedit! Nemo, nisi at.</p>

        </div>
        <div class="col-lg-2"></div>
    </div>
    <div style="height: 650px;" class="row align-items-center my-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <h1>Get In Touch</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi modi voluptatum libero voluptates asperiores quia. Adipisci molestiae unde officia at excepturi tenetur ducimus, vel eius sit facilis! Recusandae, sed in?</p>
            <div class="d-flex">
                <div style="width: 40px; height: 40px;" class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div>
                    <h3>Address</h3>
                    <p class="text-secondary">X003,NEW</p>
                </div>
            </div>
            <div class="d-flex">
                <div style="width: 40px; height: 40px;" class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div>
                    <h3>Email</h3>
                    <p class="text-secondary">{{demoMail}}</p>
                </div>
            </div>
            <div class="d-flex">
                <div style="width: 40px; height: 40px;" class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div>
                    <h3>Phone No</h3>
                    <p class="text-secondary">+#############</p>
                </div>
            </div>
            <hr>
            <h2>Follow Us On</h2>
            <div class="d-flex mt-4">
                <div style="width: 40px; height: 40px;" class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div style="width: 40px; height: 40px;" class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3">
                    <i class="fa-brands fa-twiter"></i>
                </div>
                <div style="width: 40px; height: 40px;" class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div style="width: 40px; height: 40px;" class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3">
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <form  class="border shadow rounded p-5">
                <h3>Client Testimonial</h3>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="name">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="email">
                </div>
                <div class="mb-3">
                    <textarea name="" id="" class="form-control" placeholder="message"></textarea>
                </div>
                <p style="text-align: justify;" class="text-secondary">By sumbmitting, You are agreeing the terms & conditions of our website</p>
                <div class="float-end">
                    <button class="btn btn-success text-light">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-lg-1"></div>
    </div>

</div> -->