<app-header></app-header>
<div class="container my-5 bg-light">
    <div class="row">
        <div class="col-lg-4">
            <div class="container">
                <h5>Filter</h5>
                <button class="btn mt-5">All</button><br>
                <!-- cuisine type -->
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false">
                    Cuisine Type
                  </button><br>
                <div class="collapse" id="collapseExample1">
                    <Button class="btn">Italian</Button>
                    <Button class="btn">Asia</Button>
                    <Button class="btn">America</Button>
                    <Button class="btn">Mexican</Button>
                    <Button class="btn">Indian</Button>
                    <Button class="btn">Pakisthani</Button>
                    <Button class="btn">Japanese</Button>
                    <Button class="btn">Thai</Button>
                </div>
                <!-- meal type -->
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false">
                    Meal Type
                  </button>
                <div class="collapse" id="collapseExample2">
                    <Button class="btn">Dinner</Button>
                    <Button class="btn">Lunch</Button>
                    <Button class="btn">Dessert</Button>
                    <Button class="btn">Appetizer</Button>
                    <Button class="btn">Breakfast</Button>
                    <Button class="btn">Beverage</Button>
                    <Button class="btn">Salad</Button>
                </div>
            </div>
        </div>
    
        <div class="col-lg-8">
            <div class="d-flex justify-content-between align-items-center">
                <h1>All recipies</h1>
                <input type="text " class="form-control w-50" placeholder="search ypur recipies">
                </div>
            <div class="row my-3">
            <div class="col-lg-4">
                <div class="p-3">
                    <img width="90%" style="border-radius: 10px;" src="https://cdn.dummyjson.com/recipe-images/1.webp" alt="">
                    <div class="card-body">
                        <h4>name</h4>
                        <p class="fw-bolder">Cuisine <span class="text-danger"></span></p>
                        <p class="fw-bolder">Meal Type <span class="text-danger"></span></p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>