<app-header></app-header>

<div class="container w-100">
    <div class="row bg-light p-5 w-100">
        <div class="col-lg-2"></div>
        <div class="col-lg-4 mt-5 text-muted fw-bolder">
            <h1>Most easiest way to make your favorite Dish</h1>
            <p>Explore 100+ recipes in your hand...</p>
            <h2 style="font-size: 40px;" class="text-warning fw-bolder">Eat</h2>
            <h3 style="font-size: 35px;" class="text-warning fw-bolder">Cook</h3>
            <h5 style="font-size: 30px;" class="text-warning fw-bolder">Repeat</h5>
            <a routerLink="/recipes" class="btn btn-warning text-light fw-bolder">Explore to our Recipes</a>
        </div>
        <div class="col-lg-6">
            <img style="width: 450px;" class="food-img" src="https://th.bing.com/th/id/R.a9caf544e96691b39893bb48c08c65bb?rik=auKFdVTUmlL0cA&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fpng-plate-of-food--600.png&ehk=tmQ5jwDlt1f5vC78EN4ZPrzdKs0Cnr7kO0dDVXnwsr0%3d&risl=&pid=ImgRaw&r=0" alt="">
        </div>
    </div>

    <div class="my-3 p-4">
        <h1>Popular recipes of the week</h1>
        <div class="d-flex justify-content-between">
            <p>Most popular recipes of the week</p>
            <a routerLink="/recipes">view all</a>
        </div>

        <div class="row my-3">
        @for (recipes of homeRecipes; track $index) {
            <div class="col-lg-4 d-flex">
                <div class="p-3">
                    <img width="20%" [src]="recipes.image" alt="">
                    <div class="card-body">
                      <h4>{{recipes.name}}</h4>
                    </div>
                </div>
            </div>
        }
        </div>
        <div style="height: 400px; background-repeat: no-repeat; background-size: cover; background-image: url(https://cdn.pixabay.com/photo/2022/04/30/19/12/cooking-banner-7166200_640.jpg);" class="row align-items-center my-5">
            <div class="col-lg-6"> </div>
        <div class="col-lg-6">
            <div class="bg-light rounded p-3 w-75">
                <h5 class="text-warning">50+ recipes that quick and fast</h5>
                <p class="text-dark mt-3">Find the perfet food ideas to start your day...</p>
            </div>
        </div>
        </div>
        <div style="height: 500px;" class="my-3 row text-light align-items-center bg-light rounded p-5">
            <div class="col-lg-6">
                <img style="width: 300px;margin-left: 100px;" src="https://www.pngrepo.com/png/217136/512/playstore.png" alt="">
            </div>
            <div class="col-lg-6 text-center">
                <h1>Download app</h1>
                <h5>Download the app from app store or <br>Google Play Store for better experience</h5>
                <div class="d-flex justiy-content-center align-items-center">
                    <img width="200px" src="https://ae01.alicdn.com/kf/S2636f784a5004820942cb648a4ffc308J/272x80.png" alt="">
                    <img width="300px" src="https://www.freepnglogos.com/uploads/app-store-logo-png/download-on-the-app-store-logo-png-23.png" alt="">
                </div>
            </div>
        </div>
    </div>
    
    <div class="text-center my-5">
       <h1>Client Testimonials</h1>
       <marquee>
           <div class="d-flex my-5">
               <div class="rounded border w-25 p-2 shadow me-3">
                   <h5>item</h5>
                   <p style="white-space: normal; width: 100%; text-align: justify;">cuisine</p>
               </div>
           </div>
       </marquee>
    </div>

</div>


