<div class="container">
    <div style="height: 100vh;" class="row align-items-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <h1 class="text-center">Register</h1>
            <p class="text-center"> Explore 100+ recipie in your hand...</p>
            <div class="shadow border rounded p-5 mt-5">
                <h4><i class="fa-solid fa-utensils fa-flip me-3 fs-2"></i>Recipe-World</h4>
                <form>
                    <div class="mb-3 text-center">
                        <input type="text" name="text" formControlName="text" placeholder="Enter your Name" class="form-control">
                    </div>
                    <div class="mb-3 text-center">
                        <input type="email" name="email" formControlName="email" placeholder="Enter your Email" class="form-control">
                    </div>
                    <div class="mb-3 text-center">
                        <input type="password" name="password" formControlName="password" placeholder="Enter your Password" class="form-control">
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-success">Login</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4 p-3">
            <h1>Create Account</h1>
            <h6>What will you get?</h6>
            <ul class="mt-4 ">
                <li>Diffrent Recipes</li>
                <li>Easy Way To Make Recipe</li>
                <li>Save Your Favorite Recipe</li>
                <li>Download Your Recipe</li>
            </ul>
        </div>
    </div>
</div>